blueprints/SVAI-Lead-Capture.json
{
  "name": "SVAI - Lead Capture",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "label": "SVAI Lead Capture Webhook",
              "data": { "editable": true }
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": null,
                "spreadsheetId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
                "sheetId": "Leads",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "insertDataOption": "INSERT_ROWS",
                "majorDimension": "ROWS"
              },
              "mapper": {
                "Timestamp": "{{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}}",
                "Name": "{{1.caller_name}}",
                "Address": "{{1.address}}",
                "Issue": "{{1.issue_description}}",
                "Urgency": "EMERGENCY",
                "Preferred Time": "{{1.preferred_time}}",
                "Phone": "{{1.callback_number}}",
                "Language": "{{1.language}}",
                "Priority Flag": "{{1.priority_flag}}",
                "Status": "New",
                "Notes": "⚠️ EMERGENCY — Logged via Lead Capture"
              },
              "metadata": {
                "designer": { "x": 600, "y": -150 }
              }
            },
            {
              "id": 4,
              "module": "gmail:sendEmail",
              "version": 1,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "to": "REPLACE_WITH_YOUR_EMAIL",
                "subject": "🚨 EMERGENCY LEAD — {{1.caller_name}} | {{1.issue_description}}",
                "content": "<h2>🚨 EMERGENCY CALL RECEIVED</h2><p><strong>Name:</strong> {{1.caller_name}}</p><p><strong>Address:</strong> {{1.address}}</p><p><strong>Issue:</strong> {{1.issue_description}}</p><p><strong>Phone:</strong> {{1.callback_number}}</p><p><strong>Priority Flag:</strong> {{1.priority_flag}}</p><p><strong>Language:</strong> {{1.language}}</p><p><strong>Time:</strong> {{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}} MST</p><hr><p><em>Sent automatically by ServiceVoice AI</em></p>",
                "contentType": "html",
                "from": ""
              },
              "metadata": {
                "designer": { "x": 900, "y": -200 }
              }
            },
            {
              "id": 5,
              "module": "twilio:ActionSendSms",
              "version": 1,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "from": "REPLACE_WITH_YOUR_TWILIO_NUMBER",
                "to": "REPLACE_WITH_YOUR_PHONE_NUMBER",
                "body": "🚨 EMERGENCY: {{1.caller_name}} at {{1.address}}. Issue: {{1.issue_description}}. Call NOW: {{1.callback_number}}"
              },
              "metadata": {
                "designer": { "x": 900, "y": -100 }
              }
            },
            {
              "id": 6,
              "module": "twilio:ActionSendSms",
              "version": 1,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "from": "REPLACE_WITH_YOUR_TWILIO_NUMBER",
                "to": "REPLACE_WITH_ONCALL_TECH_PHONE",
                "body": "🚨 EMERGENCY DISPATCH: {{1.caller_name}} at {{1.address}}. {{1.issue_description}}. Customer phone: {{1.callback_number}}"
              },
              "metadata": {
                "designer": { "x": 900, "y": 0 }
              }
            }
          ],
          "filter": {
            "name": "Is Emergency",
            "conditions": [
              [
                {
                  "a": "{{1.urgency}}",
                  "b": "emergency",
                  "o": "text:equal"
                }
              ]
            ]
          }
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": null,
                "spreadsheetId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
                "sheetId": "Leads",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "insertDataOption": "INSERT_ROWS",
                "majorDimension": "ROWS"
              },
              "mapper": {
                "Timestamp": "{{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}}",
                "Name": "{{1.caller_name}}",
                "Address": "{{1.address}}",
                "Issue": "{{1.issue_description}}",
                "Urgency": "{{1.urgency}}",
                "Preferred Time": "{{1.preferred_time}}",
                "Phone": "{{1.callback_number}}",
                "Language": "{{1.language}}",
                "Priority Flag": "{{1.priority_flag}}",
                "Status": "New",
                "Notes": ""
              },
              "metadata": {
                "designer": { "x": 600, "y": 150 }
              }
            },
            {
              "id": 8,
              "module": "gmail:sendEmail",
              "version": 1,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "to": "REPLACE_WITH_YOUR_EMAIL",
                "subject": "New Lead: {{1.caller_name}} — {{1.issue_description}}",
                "content": "<h2>New Lead Captured</h2><p><strong>Name:</strong> {{1.caller_name}}</p><p><strong>Address:</strong> {{1.address}}</p><p><strong>Issue:</strong> {{1.issue_description}}</p><p><strong>Urgency:</strong> {{1.urgency}}</p><p><strong>Preferred Time:</strong> {{1.preferred_time}}</p><p><strong>Phone:</strong> {{1.callback_number}}</p><p><strong>Language:</strong> {{1.language}}</p><p><strong>Time:</strong> {{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}} MST</p><hr><p><em>Sent automatically by ServiceVoice AI</em></p>",
                "contentType": "html",
                "from": ""
              },
              "metadata": {
                "designer": { "x": 900, "y": 100 }
              }
            },
            {
              "id": 9,
              "module": "twilio:ActionSendSms",
              "version": 1,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "from": "REPLACE_WITH_YOUR_TWILIO_NUMBER",
                "to": "REPLACE_WITH_YOUR_PHONE_NUMBER",
                "body": "New lead: {{1.caller_name}} at {{1.address}}. Issue: {{1.issue_description}}. Wants {{1.preferred_time}} appt. Call: {{1.callback_number}}"
              },
              "metadata": {
                "designer": { "x": 900, "y": 200 }
              }
            },
            {
              "id": 10,
              "module": "google-calendar:createAnEvent",
              "version": 5,
              "parameters": {
                "__IMTCONN__": null
              },
              "mapper": {
                "calendarId": "primary",
                "title": "ServiceVoice Lead — {{1.caller_name}}",
                "description": "Customer: {{1.caller_name}}\nAddress: {{1.address}}\nIssue: {{1.issue_description}}\nPhone: {{1.callback_number}}\nLanguage: {{1.language}}\nLogged: {{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}} MST\n\nCaptured via ServiceVoice AI",
                "start": {
                  "dateTime": "{{if(1.preferred_time = \"morning\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T09:00:00\"; if(1.preferred_time = \"afternoon\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T13:00:00\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T09:00:00\"))}}",
                  "timeZone": "America/Phoenix"
                },
                "end": {
                  "dateTime": "{{if(1.preferred_time = \"morning\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T10:00:00\"; if(1.preferred_time = \"afternoon\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T14:00:00\"; formatDate(addDays(now; 1); \"YYYY-MM-DD\") + \"T10:00:00\"))}}",
                  "timeZone": "America/Phoenix"
                },
                "sendNotifications": true
              },
              "metadata": {
                "designer": { "x": 900, "y": 300 }
              }
            }
          ],
          "filter": {
            "name": "Standard or Estimate",
            "conditions": [
              [
                {
                  "a": "{{1.urgency}}",
                  "b": "emergency",
                  "o": "text:notequal"
                }
              ]
            ]
          }
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": [
      {
        "content": "SETUP REQUIRED — Replace all REPLACE_WITH_ placeholders:\n1. Connect your Google account (Sheets + Calendar)\n2. Connect your Gmail account\n3. Connect your Twilio account\n4. Set REPLACE_WITH_YOUR_SPREADSHEET_ID to your Google Sheet ID\n5. Set REPLACE_WITH_YOUR_EMAIL to your notification email\n6. Set REPLACE_WITH_YOUR_PHONE_NUMBER to your mobile number\n7. Set REPLACE_WITH_YOUR_TWILIO_NUMBER to your Twilio phone number\n8. Set REPLACE_WITH_ONCALL_TECH_PHONE to your on-call tech's number (can be same as owner)\n9. Copy the webhook URL and paste it into Retell AI → Agent → Webhooks → Call Ended"
      }
    ]
  }
}
