blueprints/SVAI-Confirmation-SMS.json
{
  "name": "SVAI - Confirmation SMS",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "label": "SVAI Confirmation SMS Webhook",
              "data": { "editable": true }
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "twilio:ActionSendSms",
      "version": 1,
      "parameters": {
        "__IMTCONN__": null
      },
      "mapper": {
        "from": "REPLACE_WITH_YOUR_TWILIO_NUMBER",
        "to": "{{1.callback_number}}",
        "body": "Hi {{1.caller_name}}, this is REPLACE_WITH_YOUR_BUSINESS_NAME. Your service call is confirmed for {{1.appointment_time}}. Our tech will call 30 min before arrival. Questions? Call us at REPLACE_WITH_YOUR_BUSINESS_PHONE."
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "__IMTCONN__": null,
        "spreadsheetId": "REPLACE_WITH_YOUR_SPREADSHEET_ID",
        "sheetId": "Leads",
        "filter": {
          "conditions": [
            [
              {
                "a": "Phone",
                "o": "text:equal",
                "b": "{{1.callback_number}}"
              }
            ]
          ]
        },
        "includesHeaders": true,
        "valueRenderOption": "FORMATTED_VALUE",
        "majorDimension": "ROWS"
      },
      "mapper": {
        "Status": "Confirmed",
        "Notes": "Confirmation SMS sent {{formatDate(now; \"MM/DD/YYYY HH:mm\"; \"America/Phoenix\")}} MST"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": [
      {
        "content": "SETUP REQUIRED:\n1. Connect Twilio account\n2. Connect Google Sheets account\n3. Replace REPLACE_WITH_YOUR_TWILIO_NUMBER with your Twilio number\n4. Replace REPLACE_WITH_YOUR_BUSINESS_NAME with your business name\n5. Replace REPLACE_WITH_YOUR_BUSINESS_PHONE with your business phone number\n6. Replace REPLACE_WITH_YOUR_SPREADSHEET_ID with your Google Sheets ID\n\nEXPECTED WEBHOOK PAYLOAD (sent from Lead Capture or Retell):\n{\n  \"caller_name\": \"John Smith\",\n  \"callback_number\": \"+16025551234\",\n  \"appointment_time\": \"Tomorrow at 9:00 AM\"\n}\n\nHOW TO TRIGGER:\nThis webhook is called automatically from the Lead Capture scenario after an appointment is created in Google Calendar. You can also trigger it manually from Retell AI when a booking is confirmed during the call."
      }
    ]
  }
}
